body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    position: absolute;
    top: 10px;
    left: 10px;
}

form button {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #87CEEB;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.search {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
    text-align: left;
}

h2 {
    width: 100%;
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(152, 95, 69);
}


ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    width: 500px;
    background-color: rgb(81, 130, 149);
    border-radius: 5px;
}

li {
    display: flex;
    align-items: center;
    border: 1px solid rgb(97, 95, 95);
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(254, 254, 254);
}

input[type="checkbox"] {
    margin-right: 10px;
}