@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

aside {
    float: right;
    padding: 3em;
    margin: 0.5em;
    border: black solid thin;
  } 

@media (orientation: portrait) {
    div {
      transform: rotate(270deg);
    }
  }

body {
    background-color:antiquewhite; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5rem;
    color: #87CEEB; 
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

span {
    font-weight: bold;
}


form {
    background: #387FA1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #87CEEB;
    color: rgb(35, 28, 82);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #5aaccd;
}

