/* Style for the header banner */
header {
    background-color: rgb(152, 95, 69); /* Green background */
    color: white; /* White text */
    text-align: left; /* Center the text */
    padding: 20px; /* Add some padding around the text */
    font-size: 2rem; /* Increase the font size */
    font-weight: bold; /* Make the font bold */
    position: fixed; /* Keep it fixed at the top of the page */
    top: 0; /* Align to the top */
    width: 100%; /* Make the header span the full width of the page */
    z-index: -1; /* Ensure it sits on top of other elements */
    height: 20px;
}




body {
    font-family: Arial, sans-serif;
    text-align: center;
}


h1 {
    margin-bottom: 0px;
    color: #87CEEB; 
    font-family: 'Poppins', sans-serif;
}

form {
    position: absolute;
    top: 10px;
    right: 10px;
}

form button {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    background-color: #87CEEB ;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.profile {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: black;
    border-style: ridge;
    object-fit: cover;
}

div button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

div button:first-child {
    background-color: rgb(81, 130, 149);
}

div button:last-child {
    background-color: rgb(176, 98, 98);
}

h3 {
    width: 100%;
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(152, 95, 69);
}


ul {
    margin-top: -20px;
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    width: 500px;
    background-color: rgb(81, 130, 149);
    border-radius: 5px;
}

li {
    display: flex;
    align-items: center;
    border: 1px solid rgb(97, 95, 95);
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(254, 254, 254);
}

.list {
    margin-top: 0px;
    background-image: url("HBLL_pic.png");
    background-size: cover; 
    background-position: center; 
    padding: 20px;
    margin: 0px auto; 
    width: 100%; 
    border-radius: 5px;
    position: relative; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

input[type="checkbox"] {
    margin-right: 10px;
}
