
body {
    background-color:antiquewhite; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding: 0;
    padding-top: 100px;
}



.theNavH {
    margin-bottom: 0px;
    color: rgb(255, 255, 255); 
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    text-align: left;
    margin-left: 10px;
    font-size: 2.5rem;
}


.nav {
    display: flex;
    gap: 5px; 
    align-items: center;
    text-align: right;
    font-size: 2vw;
    justify-content: center;
    top:0;
    left:0;
    position: relative;

    width: 100vw;
    max-width: 100%;
    border-bottom: 3px solid black;
    padding: 1rem 2rem;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 3rem;
    color: white;
    background-color: rgb(81, 130, 149);
    flex-wrap: wrap;
    z-index: 9999;
}



form {
    margin: 0;
}


form button {
    margin-top: 300px;
    margin-right: 10px;
    text-align: right;
    background-color: #87CEEB ;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width: auto;
    font-size: 1.5vw;
}

.profile {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: black;
    border-style: ridge;
    object-fit: cover;
}

div button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 0;
    width: auto;
    font-size: 1.5vw;
}

div button:first-child {
    background-color: rgb(81, 130, 149);
}

div button:last-child {
    background-color: rgb(176, 98, 98);
}

h3 {
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(152, 95, 69);
}


ul {
    margin-top: -20px;
    list-style-type: none;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    width: 500px;
    background-color: rgb(81, 130, 149);
    border-radius: 5px;
    width: 90%;
    max-width: 500px; 
}

li {
    display: flex;
    align-items: center;
    border: 1px solid rgb(97, 95, 95);
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(254, 254, 254);
    font-size: 1.5em;
}

.list {
    margin-top: 0px;
    background-image: url("/HBLL_pic.png");
    background-size: cover; 
    background-position: center; 
    padding: 2rem;
    margin: 0px auto; 
    width: 100vw; 
    max-width: 100%;
    min-height: 100%;
    border-radius: 5px;
    position: relative; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

input[type="checkbox"] {
    margin-right: 10px;
}

.library-status button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .library-status .active {
    background-color: rgb(0, 157, 255);
    color: white;
  }
  
  .library-status .out-btn:hover {
    background-color: red;
    color: white;
  }